<nav class="custom-nav">
    <div class="cutstom-nav-wrapper for-desktop">
        <a class="site-logo" href="/"><img src="{{section.settings.site_logo | image_url: width: 150}}" width="150px" height="auto"></a>
        <div class="site-notice">{{ section.settings.nav_notice }}</div>
        <a class="nav-button" href="{{ section.settings.button_icon }}">{{ section.settings.button_text }} <img src="{{section.settings.button_icon | image_url: width: 50}}" width="25px" height="auto"></a>
    </div> 

    <div class="cutstom-nav-wrapper for-mobile">
        <div class="nav-top">
            <div class="dropdown-buttons-wrapper">
                <img class="dropdown-button close" src="https://cdn.shopify.com/s/files/1/0988/0495/7495/files/Group_1000008115.png?v=1777917810" height="auto" width="18px">
                <img class="dropdown-button open" src="https://cdn.shopify.com/s/files/1/0988/0495/7495/files/Group_1000008115_1.png?v=1777917812" height="auto" width="18px">
            </div>
            <a class="site-logo" href="/"><img src="{{section.settings.site_logo | image_url: width: 150}}" width="150px" height="auto"></a>
        </div>
        <div class="nav-dropdown">
            <div class="site-notice">{{ section.settings.nav_notice }}</div>
            <a class="nav-button" href="{{ section.settings.button_icon }}">{{ section.settings.button_text }} <img src="{{section.settings.button_icon | image_url: width: 50}}" width="25px" height="auto"></a>
        </div>
    </div>
</nav>


<style>
.custom-nav{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    background:rgba(245, 245, 245, 1);
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.cutstom-nav-wrapper.for-mobile{
    display:none
}

 .cutstom-nav-wrapper,
 .cutstom-nav-wrapper.for-mobile .nav-top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 50px;
    width:100%;
    max-width:1440px;
}
.cutstom-nav-wrapper.for-mobile .nav-top{
    justify-content:flex-start;
}

.site-logo{
    line-height:1;
    width:150px;
    text-decoration:none
}
.cutstom-nav-wrapper.for-mobile .site-logo{
    flex-grow:1
}

a.nav-button{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:210px;
    height:50px;
    border:1px solid #000;
    color:{{section.settings.button_text_color}};
    background:{{ section.settings.button_background_color }};
    line-height: 20.48px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration:none
}

.site-notice{
line-height: 13.42px;
letter-spacing: 0px;

}


.cutstom-nav-wrapper.for-mobile{
       flex-direction:column;
       position:relative
}

.cutstom-nav-wrapper.for-mobile .dropdown-button{
    position:absolute:
    top:0;
    left:0;
    right:0;
    bottom:0
}


.nav-dropdown{
    position: absolute;
    top: 100%;
    z-index: 100;
    background: rgba(245, 245, 245, 1);
    width: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    opacity: 0;
    transition:opacity 0.3s ease
}


.dropdown-buttons-wrapper{
    display:flex;
    cursor:pointer;
    padding: 0 50px 0 0;
    position:relative
}


@media (max-width:749px){
    .cutstom-nav-wrapper.for-desktop, 
    .dropdown-button.open,
    .cutstom-nav-wrapper.for-mobile.active .dropdown-button.close{
        display:none
    }
    .cutstom-nav-wrapper.for-mobile{
        padding:30px 20px;
        display:flex
    }
    

   .cutstom-nav-wrapper.for-mobile .nav-top{
        padding:0;
    }

    .cutstom-nav-wrapper.for-mobile.active .dropdown-button.open,
    .cutstom-nav-wrapper.for-mobile.active .nav-dropdown{
        display:flex;
        opacity:1;
    }

}

}
</style>

{%  javascript %}
  const navWrapperMobile = document.querySelector('.cutstom-nav-wrapper.for-mobile')
  const dropdownButtosnWrapper = document.querySelector('.dropdown-buttons-wrapper')

  dropdownButtosnWrapper.addEventListener('click', ()=>{navWrapperMobile.classList.toggle('active')} )
{% endjavascript %}


{% schema %}
{
  "name": "Custom header",
  "settings": [
    {
      "type": "image_picker",
      "id": "site_logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "choose gift"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button Background",
      "default": "rgba(255, 245, 68, 1)"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#000"
    },
    {
      "type": "image_picker",
      "id": "button_icon",
      "label": "Button Icon"
    },
    {
      "type": "text",
      "id": "nav_notice",
      "label": "Nav Notive",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "color",
      "id": "nav_notice_text_color",
      "label": "Nav Notice Text Color",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "custom header"
    }
  ]
}
{% endschema %}